[2015-02-09 14:19] davidmaitland opened #1 "Uncaught ReferenceError: Raven is not defined"
After running `ember install:addon ember-cli-sentry` and configuring the sentry ENV variables I get:

[code]

Is there anything else I need to install, if so which packages?

This is using ember version 1.9.1 and ember-cli version 0.1.12.

[2015-02-12 13:02] davidmaitland commented on #1
Raven isn't a dependency of the plugin for some reason.

But if anyone else is having this problem you can put [raven.js](https://github.com/getsentry/raven-js) in your `vendor` directory and import it using `app.import('vendor/raven.js');` in your `Brocfile.js`.

[2015-02-18 13:04] damiencaselli commented on #1
Hi David, actually there is no need for any dependency because the addon uses the `contentFor` hook to write the ravenjs script tag to the DOM (see [index file](https://github.com/damiencaselli/ember-cli-sentry/blob/master/index.js)).

To use it properly, you still need to add `/* global Raven */` to every file using Raven, or the linter it will constantly pester you with some Raven not defined er

[2015-02-18 14:17] davidmaitland commented on #1
Thanks for the update. Didn't see this before! Maybe something to put in the readme at some point :)

[2015-02-18 14:17] #1 closed

[2015-03-25 18:09] JoshSmith opened #7 "Test loader failures in ember-cli 0.2.1"
I'm not sure if this is related to `ember-cli-sentry` or not, but I'm seeing test loader failures after upgrading to `ember-cli 0.2.1`.

[code]

Should raven.js be loading in a testing environment? I'm not sure I see a reason for loading it.

[2015-03-25 18:16] JoshSmith commented on #7
This may not be related. I set `ENV.sentry.skipCdn` to `true` in my testing environment block and that line no longer gets called, but the rest of the stack trace is there. Thinking this is unrelated and will likely close once I figure this out.

[2015-03-25 19:18] JoshSmith commented on #7
Closing as unrelated.

[2015-03-25 19:18] #7 closed

[2015-07-09 15:12] damiencaselli opened #11 "Update README to remind what Raven plugin exactly does"

[2015-07-23 15:27] #11 closed

[2015-08-12 14:43] rudymalhi opened #12 "Getting error when the app starts"
message: "Do not specify your private key in the DSN!"
name: "RavenConfigError"

[2015-08-12 14:46] rudymalhi commented on #12
My bad - I didn't use the public DSN

[2015-08-12 14:46] #12 closed

[2015-08-20 13:54] damiencaselli opened #15 "Support for dataCallback option"
As suggested by @hussfelt in PR https://github.com/damiencaselli/ember-cli-sentry/pull/14, `dataCallback` should be supported by the plugin.

A service registered before the plugin initializer might do the trick.

[2015-08-20 18:25] hussfelt commented on #15
:+1: Tell me if you need anything :)

[2015-08-20 19:02] hussfelt commented on #15
@damiencaselli maybe not needed at all:
https://github.com/getsentry/raven-js/blob/master/src/raven.js#L333-L343

Works for me!

[2015-08-20 19:02] hussfelt commented on #15
Just needs a version-bump. :)

[2015-09-04 16:28] nojacko opened #16 "Development mode prevents errors going into console"
When development is set to true all errors are completely hidden. Is there away to have them show in the developer console like they would if this plugin wasn't installed? Thanks

[2015-09-05 10:24] lindyhopchris opened #17 "Capturing exceptions when development mode is true"
Thanks for the plugin - really useful!

In the readme, you state the application route should do the following if you want to trap routing errors:

[code]

However, when development mode is `true`, this results in Raven console logging that Raven has not been configured.

I've tried this:

[code]

but I still get the same message. Any ideas on how to detect whether Raven is usable?

[2015-09-05 10:26] lindyhopchris commented on #17
One extra little thing. It might be worth mentioning in the readme that if you want to trap routing errors but still use the default Ember routing error sub-strate implementation, then you need to return true from the error action, i.e.:

[code]

as that caught me out for a while!

[2015-09-09 09:04] damiencaselli commented on #17
Hi Chris,

I will add a mention about event bubbling in the README to avoid wasting time on this hehe

I'm taking a look at the `Raven.isSetup()` statement to avoid catching exception if Raven is not set.

[2015-09-09 09:19] damiencaselli commented on #15
@hussfelt this would indeed work with this specific version, so I'll consider this is not an issue anymore.

For the record, there was is a way to do this without upgrading to latest version, I'll push an example branch today to illustrate.

[2015-09-09 09:22] hussfelt commented on #15
No worries!

Please do consider this closed, thanks!

[2015-09-09 10:20] damiencaselli commented on #16
Hi @nojacko

This is actually a bit tricky since `ember-cli-sentry` uses [ravenjs ember plugin](https://github.com/getsentry/raven-js/blob/master/plugins/ember.js), which captures the exception.

Way back then it was not the case, we changed it in 1b8b756471cb478d312a20bf135cf81a324065ae by @rwjblue.

This change is actually quite good since it allows to benefit from plugin changes, but this is ac

[2015-09-09 10:58] damiencaselli commented on #15
Using ravenjs version >= 1.1.19 solves this.

[2015-09-09 10:58] #15 closed

[2015-09-09 14:41] mattrobenolt commented on #16
What's up?

[2015-09-10 14:22] damiencaselli commented on #16
Hey @nojacko, I'm planning on doing rather heavy changes on the way this addon works.
I've pushed a branch that _should_ work here: https://github.com/damiencaselli/ember-cli-sentry/tree/tsugi

It solves the problem you encounter by proxying the Raven object.

Could you please give it a shot and tell me what could be improved?

@mattrobenolt thanks for stopping by :bow:

Since Emberjs now encourag

[2015-09-10 16:11] mattrobenolt commented on #16
Yeah, absolutely. I'm not an Ember developer, so this stuff is a bit foreign to me. We're down for supporting whatever the community needs.

I'd be happy to provide some general direction, but again, I'm not an ember user/developer, so my context is limited. I'm happy to support whatever makes sense.

[2015-09-15 15:37] JohnRodney commented on #17
@lindyhopchris I saw the same behavior as well.  I was able to remedy this by adding `Raven.config('https://<key>@app.getsentry.com/<app>').install();` to the file that was logging the original messages.  Which in my case was the application.js route.

[2015-09-15 17:11] lindyhopchris commented on #17
@JohnRodney thanks! however, I don't want the error to be logged to Sentry when debug mode is `true`. It's just that when debug mode is `true`, `Raven.captureException()` causes an error to the console which ideally would be avoidable if there was a way of checking Raven was not installed/knowing debug mode was active.

[2015-09-16 09:58] damiencaselli commented on #17
@lindyhopchris You may want to have a look at the branch named [tsugi](https://github.com/damiencaselli/ember-cli-sentry/tree/tsugi).

Any call to Ravenjs is now done via an abstraction layer that let errors be thrown if no Raven object is defined (see https://github.com/damiencaselli/ember-cli-sentry/blob/tsugi/app/instance-initializers/raven-setup.js).

[2015-09-16 10:07] damiencaselli commented on #16
Great!

So I guess moving the official emberjs plugin logic part to this add-on would be a good addition, so people can override default behaviour without much effort.

[2015-09-16 10:13] damiencaselli commented on #17
Related to #16

Next milestone will fix this problem.

[2015-09-16 10:13] #17 closed

[2015-09-16 19:56] devinus commented on #16
@damiencaselli When can we expect the new branch to drop? Excited about it.

[2015-09-16 20:58] damiencaselli commented on #16
I'm betting on a release this weekend.
The branch is actually pretty stable, but documentation has to be updated (who said "done"?), and I need to integrate the non-ember-cli plugin code to replicate current working state.

[2015-09-16 21:43] JohnRodney commented on #17
+1 thanks @damiencaselli

[2015-09-17 08:22] damiencaselli opened #18 "Improve documentation"
Add instructions for 1.13.x migration.

[2015-09-21 07:49] damiencaselli commented on #16
… or later this week more likely :smile_cat:

[2015-09-23 20:34] #18 closed

[2015-09-23 20:38] damiencaselli commented on #16
This should be fixed in the latest release (2.0.0-beta.1), feel free to let me know if you find any bug.

[2015-09-23 23:27] pifantastic opened #19 "Explain dummy app in the README"
[code]

Getting this error in the latest version (`2.0.0-beta.1`). Was not able to reproduce in the dummy app, unfortunately. I'm not sure why it's happening.

I've traced it as far as the `container.lookup()` in `raven-setup.js`. For some reason it returns `undefined` instead of instantiating the `service:logger` service.

I'll keep debugging, but figured I'd post in case it was something obvious

[2015-09-23 23:38] pifantastic commented on #19
Ah. I see. The dummy app has an `app/services/logger.js` that imports the raven logger. Should that be described in the README?

[2015-09-24 08:01] damiencaselli commented on #19
Sorry about that, I felt like I was the only one to use the dummy app so I got lazy on that part hehe

I may add a quick note to the README.

[2015-09-24 08:03] damiencaselli opened #21 "Run tests using real sentry dsn"
What would really be awesome is to be able to run the tests against a working sentry config, which is unfortunately not possible since this part is hosted by Sentry.

I wish I personally had the money to provide a working _dsn_, but I don't :smile:

May be @mattrobenolt could give us some hints about running the tests more efficiently (testing _dsn_ may be).

[2015-09-24 08:43] damiencaselli opened #22 "Raven methods should be runnable calling the logger service"

[2015-09-24 08:53] damiencaselli commented on #19
@pifantastic I've edited issue title and your first comment to reflect the change request.

[2015-09-24 14:18] mattrobenolt commented on #21
This has come up in the past, but we don't really have a good answer.

The best we came up with was a potential JSON Schema to use for testing as discussed in https://github.com/getsentry/sentry/issues/1018, but we never made progress on that.

fwiw, none of our official clients today test against a running Sentry instance for automated tests. We will manually test against a running instance occas

[2015-09-24 18:51] pifantastic commented on #19
Well it's not just a dummy app issue, right? Anyone using this in their apps will need to create an `app/services/logger.js` that exports the raven logger.

[2015-09-24 18:53] pifantastic commented on #22
That approach looks good. The only downside is that it "leaks" the abstraction making `logger` no longer a generic service. But that's not really all that big of a problem.

[2015-09-24 20:38] damiencaselli commented on #19
You're totally right.

I mentioned this in the migration wiki page, but not in the README.

I'll correct this asap.

[2015-09-24 20:45] damiencaselli commented on #22
I second that.

Another approach would have consisted of not implementing this abstraction and let the user explicitly wrap their code in a conditional statement like

[code]

That also looked legit to me.

[2015-09-25 08:31] #19 closed

[2015-09-25 08:32] damiencaselli commented on #22
Since it is working on latest beta tag, I consider this as done for now.

[2015-09-25 08:32] #22 closed

[2015-09-25 08:54] damiencaselli commented on #21
@mattrobenolt I see.

May be having a dedicated testing key owned by the sentry team could fix that, since you can handle throttling and quotas.

Although I do have an account on Getsentry and I'd gladly share a key for testing purposes, 250 events per day can be reached rather quickly if a couple of people are using it.

Mocking the API could also be nice, but requires more work on every side (se

[2015-09-25 08:56] damiencaselli commented on #16
@devinus did you have the chance to test add-on next version beta (>= 2.0.0-beta.1)?

[2015-09-25 16:30] devinus commented on #16
@damiencaselli Not yet, sorry. We had to use the old version and I'm looking for an opportunity to revisit it again.

[2015-09-29 13:21] asbjornu commented on #21
@damiencaselli I also believe that until Sentry has a JSON Schema that most use cases can be automatically tested against, the Sentry team (@mattrobenolt, @dcramer) should provide a DSN that can be used across all Raven clients to perform automatic testing.

I've envisioned a devious plan in getsentry/raven-csharp#61 to self-host the Python API in the C# test suite (fire up a Python background pro

[2015-09-29 16:06] mattrobenolt commented on #21
The biggest problem with running automated tests against our hosted infrastructure is going to be that you're going to get inconsistent results.

For one, your requests would be rated limited almost immediately, so you'll start getting 429 responses and you'll likely not know that what you're sending is working anyways. Regardless of whatever plan you're on, we ultimately rate limit at IP level an

[2015-09-30 07:45] damiencaselli commented on #21
@mattrobenolt thanks for the insights.

With ember-cli-sentry, Sentry integration only consists in having a valid _dsn_ to ensure config and install are properly done.
Logging failing does not concern the add-on, its role is just to make sure that Raven gets properly set up given a config, valid or not.

Nothing else needs to be done since in-depth tests are performed by Raven.js.

I believe a val

[2015-09-30 07:48] damiencaselli commented on #21
@mattrobenolt Ahhh I just noticed registering on GetSentry with an email aliases was fine.

I think I'll create a new account for that purpose, it would perfectly suit my needs.

[2015-10-01 12:28] asbjornu commented on #21
@mattrobenolt I see. Thanks for all the insight. An overview on how the different Raven clients handle this for other platforms would be very valuable.

[2015-10-05 21:35] devinus opened #25 "callRaven should use call rather than apply"
https://github.com/damiencaselli/ember-cli-sentry/blob/master/addon/services/raven.js#L130

Right now I have to use `this.get('sentry').callRaven('setUserContext', [{ id, email }]);` when I think you wanted it to splat args.

[2015-10-15 14:44] #25 closed

[2015-10-15 14:49] damiencaselli commented on #21
I've added a key to the test application, and now some Raven logging should be displayed to the console when one tests the add-on.

That being said, if everyone test the add-on, quotas will be exceeded by far since the account is a limited one. Not that I bother since I use it only for this add-on purpose, but one may get 4xx from the services.

You have been warnd :smile:

[2015-10-15 14:49] #21 closed

[2015-10-15 14:51] damiencaselli commented on #16
I consider this issue resolved when updating to latest 2.0.0 (beta or not).

[2015-10-15 14:51] #16 closed

[2015-10-17 11:14] damiencaselli opened #26 "Rename default logging service name"
As @dschmidt said, `logger` is a bit too generic and actually does not reflect the Raven integration state.

`raven` seems more appropriate.

[2015-10-21 16:33] dschmidt opened #27 "Add hook to allow filtering of exceptions"
Hey,

it would be nice if enableGlobalErrorCatching() would call a hook that can decide whether an exception should be logged or not.
Currently I need to copy the whole code to add a filter to get rid of reports
https://github.com/damiencaselli/ember-cli-sentry/blob/master/addon/services/raven.js#L89

alternative:
https://raven-js.readthedocs.org/en/latest/config.html#shouldSendCallback

BR,
Domme

[2015-10-21 16:48] dschmidt commented on #27
Something like this:

[code]

[2015-10-21 16:57] dschmidt commented on #27
and/or maybe something that lets you customize what actually get's logged.
The unhandled promise error message is not really useful in sentry whereas the name of the exception (if provided) might be much more useful.

The reason I'm coming up with this, is that I get a lot of TransitionAborted errors from Ember 2 (see https://github.com/emberjs/ember.js/issues/12505), here the error contains a nam

[2015-10-31 11:41] #26 closed

[2015-10-31 11:54] damiencaselli commented on #27
@dschmidt I've added this to `2.0.0-beta.5`.

If everything works, this will be the last addition to beta cycle.

[2015-10-31 15:15] dschmidt commented on #26
Nice! :+1:

[2015-10-31 15:17] dschmidt commented on #27
Cool, I've been working on this a bit more in the last week, making ember data errors more useful and stuff like that... will publish what I have as soon as I'm ready..

[2015-11-16 08:23] damiencaselli commented on #27
@dschmidt Did you have the chance to try beta 6 yet?
We could release v2 I guess.

[2015-11-16 11:05] dschmidt commented on #27
Not beta6 itself, but my implementation of it is almost the same now - so I assume it is fine if you tested it ;-)

[2015-11-16 11:05] #27 closed

[2015-11-19 04:12] wireframe opened #28 "Automatically enable sourcemaps"
ember-cli disables sourcemaps in production mode which makes sentry's stacktraces pretty much unusable.  It would be awesome to automatically enable sourcemaps with this addon so that stuff "just works".

If that's not possible or you'd want this to be an opt-in feature, it would be great to log a warning/error on startup that the deveoper needs to manually enable sourcemaps for sentry's stacktrac

[2015-11-19 06:48] hussfelt commented on #28
I had no idea about this. Explains why our new test-app with sentry is not tracked!
Probably saved me quite some debugging-time. Thanks! :+1:

[2015-11-20 09:12] tikijian opened #29 "Log error to console on add-on initialize"
Hi @damiencaselli

I tried to setup this addon in my project but I end up with unconfigured Raven instance for some reason.

After a couple hours of investigation I found out that I copied wrong **dsn** from my Sentry account ( it was correct but contained *personal key* in it ). And Raven.js does not allow such dsn.
The thing is - this Raven.js error was suppressed by this try/catch block.
https:

[2015-11-20 11:19] planetexpress69 opened #30 "Documentation does not mention the key 'config.sentry.version' which leads to improper configuration."
Also, config.sentry.cdn should only mention the server w/o any path or file...

[2015-11-20 13:45] damiencaselli commented on #29
Hi @tikijian, that's doable :+1:

[2015-11-23 09:22] damiencaselli commented on #28
@wireframe I also had no idea about this.

I actually don't know how to do this, but I'll have a look into it. If you happen to know how to do this, feel free to submit a PR :christmas_tree:

[2015-11-23 09:27] damiencaselli commented on #30
@planetexpress69 I wonder what version you are using, since this is documented in 1.13.1 and got removed in the 2.x beta cycle to avoid misleading configuration keys.

Have you checked the migration wiki entry (https://github.com/damiencaselli/ember-cli-sentry/wiki/Migration-from-1.x.x-to-2.x) ?

[2015-11-23 10:25] planetexpress69 commented on #30
Hello Damien,

I added 1.13.1 and pasted the whole config from  https://github.com/damiencaselli/ember-cli-sentry#complete-config <https://github.com/damiencaselli/ember-cli-sentry#complete-config>
This lead to garbled URL pointing to Raven because of ember-cli-sentry/config/index.js…

Documentation says: cdn: ‚//cdn.ravenjs.com/1.1.22/raven.min.js'
and does not mention ‚version‘ resulting in a UR

[2015-11-23 10:31] damiencaselli commented on #30
Hehe no problem, I guess the whole code upgrade was not quite clear, and though I try to keep doc in sync it may not always be easy to understand.

Thanks for your feedback!

[2015-11-23 11:08] #30 closed

[2015-11-23 15:01] dschmidt commented on #28
Could be possible by the config hook of Ember Addon

[2015-11-26 10:10] #29 closed

[2015-12-15 19:19] devinus opened #34 "Getting deprecation warning"
`DEPRECATION: Using `ApplicationInstance.container.lookup` is deprecated. Please use `ApplicationInstance.lookup` instead. [deprecation id: ember-application.app-instance-container] See http://emberjs.com/deprecations/v2.x/#toc_ember-applicationinstance-container for more details.`

From this line: https://github.com/damiencaselli/ember-cli-sentry/blob/f377e28407384c72c1f40a24d7e0c8afc87e6c62/app/

[2015-12-16 14:15] damiencaselli commented on #34
@devinus Can this be fixed without breaking on ember 1.13.x?

Since I don't use ember 2 yet, @dschmidt can you please have a look at this?

[2015-12-16 15:50] devinus commented on #34
Yeah, you just have to feature check.

[2015-12-16 18:25] dschmidt commented on #34
I think it's as easy as

[code]

[2015-12-16 19:25] devinus commented on #34
Use this: https://github.com/rwjblue/ember-getowner-polyfill

[2015-12-16 21:49] dschmidt commented on #34
ah that. yeah.

[2016-01-05 19:56] stravid opened #35 "Better first usage experience"
First of all, thanks for creating this addon! I never used it before so my experience while setting it up is still fresh. I did following steps to get going:

1. Install the addon.
2. Install the raven-js dependency via Bower.
3. Import the raven-js dependency.
4. Create the raven service.
5. Modify the CSP rules.
6. Setup the config so it does not track in development build.
7. Setup the config s

[2016-01-06 05:52] damiencaselli commented on #35
Hi @stravid, thanks for the feedback.

I'd appreciate very much a PR for this, I hardly ever use ember these days.

Concerning step 4, I've intentionally left this step manual in case someone already have their own service they want to integrate raven to, but I think this almost never happens anyway.

Any idea about it? @dschmidt

[2016-01-06 12:10] dschmidt commented on #35
Yeah, dunno, seems rather esotheric if someone can't use a default service. I provide one in ember-cli-deploy-sentry

[2016-01-18 13:57] damiencaselli commented on #35
#36 fixes the first steps.

[2016-01-18 20:42] oquis opened #37 "Ember build with sourcemaps fails"
I just updated to v2.1.1 and when I try to make a production build it fails, apparently because of raven-js and sourcemaps:

[code]

I know it says it failed with ember-data.prod.js, but if I remove raven-js from bower it works (using the 2.0.0 release)

[2016-01-19 11:02] damiencaselli commented on #37
@oquis I have not encountered this issue, and it is not reproducible with a fresh application.

Can you try building using this repository : https://github.com/damiencaselli/ember-cli-sentry-demo?

I'm using `ember-cli@1.13.14`, though I doubt it makes any difference here.

[2016-01-19 16:38] oquis commented on #37
@damiencaselli It still happens, but only when you enable sourcemaps. Here are the steps to reproduce:
- `git clone https://github.com/damiencaselli/ember-cli-sentry-demo.git`
- `cd ember-cli-sentry-demo.git`
- Add the following option to the app constructor in `ember-cli-build.js`:
[code]
- Run `ember b -prod`

<img width="920" alt="screen shot 2016-01-19 at 10 33 32 a m" src="https://cloud.githu

[2016-01-19 16:52] oquis commented on #37
I found the solution. For some reason the sourcemap can't be generated if importing the minified version of raven.js. To fix it, the non-minified version of raven.js has to be used. This line:
https://github.com/damiencaselli/ember-cli-sentry/blob/master/index.js#L10
has to be changed for `app.import(app.bowerDirectory + '/raven-js/dist/raven.js');`. Then the sourcemaps are generated with no probl

[2016-01-19 17:46] damiencaselli commented on #37
@oquis nice catch.

Can you confirm that using the non-minified version will still be minified as a result?

About the PR, did you forked the project before doing it?

[2016-01-19 18:29] oquis commented on #37
Yes, it gets minified and merged with other bower components into vendor.js. I just forked it, I'll submit the PR

[2016-01-20 09:42] #37 closed

[2016-01-20 17:54] devinus opened #39 "Latest releases are assuming raven.js is inlined"
You can no longer use the `cdn` option.

[code]

[2016-01-29 10:36] SashaBorandi opened #40 "Attempting to inject an unknown injection: `service:raven`"
Uncaught Error: Attempting to inject an unknown injection: `service:raven`

[2016-01-29 11:33] damiencaselli commented on #40
Well, you seem to be attempting to inject an unknown injection... :trollface:

Did you create the service using the generator command?

[2016-02-15 11:57] floqqi commented on #40
Had the same problem. Didn't know that generating a logger using `ember g logger raven` is mandatory.

Two solutions for this:
1. Update the README (especially the TLDR section)
2. Make a default `raven`-service, so nobody needs to generate one if he isn't interested in changing something in the default one

[2016-02-15 13:12] damiencaselli commented on #40
Running that command is not mandatory, but having a service that will be called is mandatory (one can have their own logger).

This is mentioned at least twice in the README, but it may seem obvious to me since I'm the author.

@floqqi would you please let me know or suggest improvements in the README file?

[2016-02-15 13:12] #40 closed

[2016-02-15 14:29] floqqi commented on #40
But why do I need to implement an own service which only does `this._super(...arguments)` on every method? Wouldn't it be a better solution to inject the `RavenLogger` as a service by default?

[2016-02-15 15:33] damiencaselli commented on #40
The generator enables easy method overriding for users by exposing some methods, hence the `this_super(...arguments)` in the default generated service.

Declaring a one-line service with `export { default } from 'ember-cli-sentry/services/raven';` does the trick, and may be generating should be as concise as that; I think exposing public methods in the generator allows better understanding of the

[2016-02-15 17:21] damiencaselli commented on #39
@devinus can you try using the `2.2.0-beta.` version?

It will require you to remove the introduced bower dependency, `bower uninstall --save raven-js`.

[2016-02-16 08:06] mapohjola commented on #39
Upgrading to `2.2.0-beta.1` seems to fix this issue.

[2016-02-16 08:46] damiencaselli commented on #39
Thanks for the feedback @mapohjola.
What was the setup you tested the upgrade against?

[2016-02-16 08:59] mapohjola commented on #39
[code]

[2016-02-16 09:53] damiencaselli commented on #39
:+1:

[2016-02-17 11:10] mapohjola opened #41 "Instance initializer not calling install"
When setting up raven in the instance-initializer we are not calling .install()

Should `window.Raven.config(dsn, ravenConfig);` not be `window.Raven.config(dsn, ravenConfig).install();` like in the install documentation https://docs.getsentry.com/hosted/clients/javascript/install/

When not calling .install() I am not getting window.onerrors logged to sentry.

[2016-02-17 14:10] damiencaselli commented on #41
I am not sure to understand your issue here.

Both `config` and `install` methods are called in the instance initializer, see https://github.com/damiencaselli/ember-cli-sentry/blob/master/app/instance-initializers/raven-setup.js#L28-L42

[2016-02-18 04:59] mapohjola commented on #41
Sorry I must be blind.

[2016-02-18 04:59] #41 closed

[2016-02-18 09:06] damiencaselli commented on #41
:sunglasses:

[2016-02-18 09:13] damiencaselli commented on #35
Hi @stravid, some of the tasks you mentioned were completed, but I'd gladly accept PR for the 4th one :wink:

[2016-02-18 09:13] #35 closed

[2016-02-29 08:30] damiencaselli commented on #39
2.2.0 addresses this issue.

[2016-02-29 08:30] #39 closed

[2016-02-29 13:59] #34 closed

[2016-03-07 08:10] floqqi commented on #28
Just for the people who came here to look for a solution:

[code]

Will enable sourcemaps for every build (even production).

[2016-04-26 14:03] clekstro opened #45 "New release"
Thanks for the addon! We recently incorporated it into a project and are trying to upgrade to Ember 2.5, but are getting deprecation warnings. It looks like that was recently fixed. Could you release a new version to incorporate that change?

[2016-04-27 12:53] damiencaselli commented on #45
2.3.2 should fix that.

[2016-04-27 12:53] #45 closed

[2016-04-27 13:08] damiencaselli commented on #28
🎉  if @floqqi's answer solves this.

[2016-04-27 13:08] #28 closed

[2016-05-16 02:01] ColtonProvias opened #46 "Integrate User Feedback Dialog"
New feature in Sentry 8.4.  Documented at: https://docs.getsentry.com/on-premise/learn/user-feedback/

[2016-05-17 12:41] damiencaselli commented on #46
I think this is up to the user to implement this. I can't assume everyone wants to use it and make it the default behaviour.
However, if most of the ember-cli-sentry users want this implemented as an option, I'll gladly do it 👍

This add-on purpose is to ensure Sentry is properly set up, and make errors easy to manipulate before sending them to the Sentry servers. It also tries to remain as user-p

[2016-05-17 12:41] #46 closed

[2016-05-17 18:13] grapho opened #48 "Raven catches everything in console, not sure how to disable?"
after installing `ember-cli-sentry` and configuring the `Raven.js`.  I have noticed that almost all error logs and console logs are called through raven now and it is hard to locate where the message originates from?

For example if i were to put a `console.log('hello')` into one of my model hooks.  when i view the output in developer console, the source of the log comes from raven.js now.. throug

[2016-05-17 18:55] kkumler commented on #48
@grapho What version of Raven are you using with this?

[2016-05-17 19:04] grapho commented on #48
@kkumler the latest cdn 3.0.4 it looks like

[2016-05-17 20:33] damiencaselli commented on #48
Hi @grapho

It seems Raven.js now wraps every `console` method : https://github.com/getsentry/raven-js/blob/master/src/raven.js#L931-L935

I doubt you can disable it, and may be sticking to the 2.x version might be wise for a bit, though that doesn't really solve to your problem.

[2016-05-17 20:39] grapho commented on #48
yeah i was afraid of that.. however there appears to be some api in that code that suggests i can use it to my advantage somewhere somehow.

thanks for the responses!

[2016-05-17 20:42] damiencaselli commented on #48
If you happen to solve that, would you mind leaving a message here in case someone else encounters the same issue?

[2016-05-17 20:44] grapho commented on #48
will do

[2016-05-17 22:07] grapho commented on #48
here is a minor update.

Raven swallows up all the console methods so it can generate it's [breadcrumbs](http://blog.getsentry.com/2016/05/04/breadcrumbs.html) .. which i can see might be helpful in some scenarios, but ember build likes to strip out console logs in production mode, so it losses some sparkle for me.

Based on [the issue I reported](https://github.com/getsentry/raven-js/issues/584)

[2016-05-18 16:04] grapho commented on #48
Another Update:

This might possibly close this issue entirely.

I just discovered that `ENV.sentry.development = true` in `config/envireonment.js` is the answer... as I was concerned about using raven.js in a development setting.. which is not the correct use case.  Why in ember dev mode would i want to pass errors to sentry? I would only want that in a production app...

anyway, setting developm

[2016-05-18 19:02] damiencaselli commented on #48
That property is documented in the README, but may not be quite clear:

See this: https://github.com/damiencaselli/ember-cli-sentry/blob/master/app/instance-initializers/raven-setup.js#L10-L15

Setting `development: true` will prevent Raven.js to be initialized, and will use `console.log` instead of Raven.

[2016-05-18 19:22] grapho commented on #48
@damiencaselli  yep that is the one.. the readme comment there was not 100% clear to me, which is why I avoided it at first... I think it is the very first line that made me avoid it the most.

THe clarification you provided ( I believe ) should be the test for the readme

That sounds a little more clear to me

[2016-05-19 07:41] damiencaselli commented on #48
@grapho can you tell me if a26b7af makes it more clear to you?

[2016-05-19 14:11] grapho commented on #48
@damiencaselli that looks great!

On a side note, unrelated, what does the `debug` option do? can we explain that a little better?  ... actually i think that is acutally a raven.js feature.. but raven is not the best documented library either :p

[2016-05-19 14:23] damiencaselli commented on #48
@grapho it is indeed the Raven option, that has to be be provided when Raven is instantiated.

[2016-05-19 14:23] #48 closed

[2016-06-03 18:38] batjaa opened #49 "Can't use regex values for ignore/whitelist URLs"
It looks like ember config/environment.js ENV object only allows object and string values. Results raven install to misinterpret regex values.

Here's a repro for ember not getting regex from config file. https://github.com/batjaa/test-config-regex

[2016-06-04 09:57] damiencaselli commented on #49
This is more likely a problem concerning ember-cli.
Do you mind creating an issue on their repository and link it to this one?

[2016-07-29 11:04] urbany opened #52 "Set the app's environment when configuring Sentry"
Hi, the latest [raven-js](https://github.com/getsentry/raven-js/pull/661/files) release allows setting the app's environment. I think you just need to add `environment: config.environment,` here https://github.com/damiencaselli/ember-cli-sentry/blob/1806f5d2a7376510027dac467ea718aa225623d3/app/instance-initializers/raven-setup.js#L38

[2016-08-03 10:58] #52 closed

[2016-08-05 14:24] tavosansal commented on #40
I encountered this problem as well. I think the readme could be improve by saying something like this:

_If you create a logger using the ```ember g logger <logger-name>``` then in the configuration for sentry you must set this as the ```serviceName: <logger-name>``` property._

Something similar to that would have done it for me.

Thanks!

[2016-08-30 08:38] panthony commented on #34
This issue broke my ember 1.13.x application which is a shame because I'd like to upgrade to the latest sentry SDK  :(

[2016-08-30 08:42] panthony opened #55 "Latest version does not work with Ember 1.13.x"
Because of the following line:

In `raven-setup.js`:
[code]

[2016-08-30 08:52] panthony opened #56 "Cannot configure Raven unless already setup"
Unless the `install` method has been called on the Raven object, all call to `callRaven` are dropped.

It means that we can't set either tag's context, user context, etc..

In my case, the init on the application route is called before install is call on the Raven service thus ignored.

The only methods that needs the Raven service to be setup are captureMessage/captureException really.

[2016-08-30 09:28] damiencaselli commented on #56
This behaviour can be easily overridden in your own service definition.

See: https://github.com/damiencaselli/ember-cli-sentry/blob/master/addon/services/raven.js#L147-L155

[2016-08-30 09:28] #56 closed

[2016-08-30 09:33] panthony commented on #56
That's what I done in the end, I was just thinking it would be nice that it works OOTB

[2016-08-30 10:24] #55 closed

[2016-09-13 18:35] swquinn opened #58 "Best way to add context to error reports?"
First, thanks for this addon. I was beginning to gear up to write my own addon for Sentry integration before finding this and thought I'd give this a try before rolling my own.

I do have a question though, and it surrounds tagging and adding context to errors being reported to Sentry. If I wanted to add a user context to the errors, Sentry's [documentation](https://docs.sentry.io/hosted/clients/j

[2016-09-14 06:58] damiencaselli commented on #58
Hi @swquinn, an example is worth a thousand words, the dummy application shipped with tests does exactly what you want: https://github.com/damiencaselli/ember-cli-sentry/blob/master/tests/dummy/app/routes/application.js#L8

Basically the add-on offers a safe proxy to interact with Raven by trying to call a Raven.js method (`callRaven()`) if it is useable – the default being Raven.js initialization

[2016-09-14 12:52] swquinn commented on #58
Awesome! I hadn't even thought about looking in the dummy application for an example. Thanks for pointing that out!

[2016-09-20 11:02] #58 closed

[2016-10-02 04:31] kitsunde opened #59 "It doesn't seem to log exceptions from fastboot"
It doesn't seem to work with fastboot?

[code]

[2016-10-03 06:44] damiencaselli commented on #59
Hi @kitsunde, unfortunately I haven't used or tested it with Fastboot yet.

From the `Error: Raven has already been configured` line in your logs, it seems you are trying to set Raven twice. Can you tell more about the setup you are using?

[2016-10-03 06:47] damiencaselli opened #60 "Feedback wanted from Fastboot users"
Hi, ember-cli-sentry users,

Does some of you have feedback to share about using this add-on with Fastboot? How the two work together? Have you noticed any weird behavior?

[2016-10-03 08:22] kitsunde commented on #59
The exception above is unrelated, I've fixed it but I'm getting raven saying it's already configured multiple times through each request instead. I have `services/raven.js` that looks like this:

[code]

[2016-10-03 13:36] damiencaselli commented on #59
I'm not quite sure what can be the reason for this, but the only reason for getting the `Error: Raven has already been configured` message is your application getting initialized more than once (the code causing this message to appear is in an instance initializer).
It probably has to do with the way Fastboot manages the instances.

[2016-10-03 16:21] damiencaselli commented on #59
@kitsunde ok I've dug a bit about this issue, and Raven.js cannot be run inside a Fastboot context **as it is**, because it uses `XMLHTTPRequest as default transport (undefined in node).

Fortunately Raven [provides an option](https://github.com/getsentry/raven-js/blob/master/src/raven.js#L543-L556) to override it.
To override it with this add-on, you'll have to set it doing `this.get('raven').cal

[2016-10-03 16:21] #59 closed

[2016-10-03 16:22] damiencaselli commented on #60
Related to #59

[2016-10-11 08:08] Turbo87 opened #61 "Update Sentry docs"
There are some [docs](https://docs.sentry.io/clients/javascript/integrations/ember/) on the Sentry page that describe how to use Sentry with Ember.js but the instructions are partly outdated and wrong. As this seems to be the recommended addon to use Sentry with Ember it would probably make sense to update that page mentioning the addon and fixing the other stuff.

The code of the docs page seems

[2016-10-11 10:16] damiencaselli commented on #61
@Turbo87 I've lost context of this and that (we're doing JS after all).

_that page_ refers to the one you linked, right? Or is it a page in the `ember-cli-sentry` repository?

[2016-10-11 10:22] Turbo87 commented on #61
yeah, it's the one I linked. I know the issue is technically in the wrong repo but I figured since we're more focused on Ember and they don't necessarily work with Ember that much we might be better suited to update that page. looking at the history of that page it seems that it was actually adopted from the Angular version, which is only partly compatible at this point.

[2016-10-11 11:49] damiencaselli commented on #61
I see. Unfortunately the Ember add-on provided by Sentry isn't much integrat(ed|able) to the `ember-cli` toolchain, which makes it difficult to use in a recent Ember environment.

A year ago I sent this –unanswered– email to @mattrobenolt:

This `ember-cli-sentry` add-on pretty much evolved in its own way, but I'm still very open to making the experience even better by making it even closer to Sen

[2016-10-11 11:55] mattrobenolt commented on #61
I'm probably bad at email. I also personally know nothing about Ember, so this is super foreign to me.

/cc @benvinegar

[2016-10-11 11:55] damiencaselli opened #62 "Parse RegExp in whitelist urls"
@gabz75 did it for `ignoreErrors` in #51, we could stretch the extra mile and make it work for the `whitelistUrls` option.

Relates to #49

[2016-10-11 11:55] #49 closed

[2016-10-11 12:09] Turbo87 commented on #61
@mattrobenolt Ember is usually used with Ember CLI these days, which includes some sort of build pipeline and plugin architecture. `ember-cli-sentry` integrates your `raven-js` project into that build pipeline and automatically sets up a few things to make it very easy to get started.

Since Ember CLI is the recommended way to use Ember I'd propose to make this addon the recommended way to use Sen

[2016-10-11 17:16] benvinegar commented on #61
I'd be glad to update it – the docs were just based on me opening up Ember and getting a working example going, not necessarily reflecting community best practices.

[2016-10-26 00:55] GCorbel commented on #40
I had the same problem. It works with `ember g logger raven`.

[2016-11-03 20:06] jessepollak opened #64 "Uncaught promises logged twice to Sentry"
We're using this library and it seems to log uncaught promises twice to Sentry. Once, in `Ember.onerror` and once in `RSVP.on('error', ...)`. When it's logged through `Ember.onerror`, it also incorrectly calls `caputreExcpetion` with the reason object, which is not an error -- leading to it just being logged as `[object Object]`.

Has anyone else dealt with or seen this?

[2016-11-04 12:06] damiencaselli commented on #64
Hi @jessepollak
I haven't seen this behavior, but I'll run some tests on a blank ember application and let you know if that happens.

[2016-11-04 15:30] jessepollak commented on #64
Thanks @damiencaselli! Let me know if there's anything I can do to help :)

[2016-12-13 09:19] damiencaselli commented on #61
Hi, I'm the 2-months-late-guy.

@Turbo87 can you please describe what you would improve in the Ravenjs doc?

@benvinegar From my perspective, the current docs are pretty much fine. The only missing info would be a mention about how to properly integrate with Ember: switching environments using config, and logging in dev mode. But I also think the Raven plugin is just a convenient way of making it

[2016-12-13 10:02] Turbo87 commented on #61
I think what I wrote in https://github.com/damiencaselli/ember-cli-sentry/issues/61#issuecomment-252899300 still holds true and is what I would recommend.

[2016-12-17 18:15] sevab commented on #60
Raven obviously doesn't work in node throwing the expected `Error while processing route: index XMLHttpRequest is not defined ReferenceError: XMLHttpRequest is not defined`

I have a use case where I report 404 routes via `captureMessage`, so considering using [`raven-node` for that](https://github.com/getsentry/raven-node).

If this addon wants to be Fastboot compatible, would be nice and should

[2016-12-18 05:13] arschmitz commented on #60
Funny timing i just added sentry to my ember app running fastboot and ran into the same thing would be great if this used `raven-node` when in fastboot.

[2016-12-28 14:19] tchak commented on #60
I opened a new PR #66 to use `raven-node` in fastboot

[2017-01-19 16:53] benoror opened #69 "Safe to upgrade to Raven 3.9.x?"
Would it be safe to upgrade to latest minor version of Raven (currently `3.9.x`)?

<img width="1002" alt="screen shot 2017-01-19 at 10 51 32" src="https://cloud.githubusercontent.com/assets/119117/22116215/68a2521a-de35-11e6-8ea6-83f0371827c9.png">

https://docs.sentry.io/clients/javascript/

- [ ] Change blueprint https://github.com/damiencaselli/ember-cli-sentry/blob/ed0360a2aff6399b2fa791b21177

[2017-01-20 15:32] damiencaselli commented on #69
@benoror I think so, this add on is made to work on a wide variety of Raven versions.

[2017-01-22 21:16] chuchuva opened #70 "Upgrade to raven-js 3.9.1"
If I install ember-cli-sentry today it installs version 3.3 raven-js Bower package. Upgrade to the latest version (3.9.1 at the time of writing). See https://github.com/getsentry/raven-js/releases

[2017-01-23 08:19] damiencaselli commented on #69
Refer to #71 for closing reason.

[2017-01-23 08:19] #69 closed

[2017-01-23 08:20] damiencaselli commented on #70
Refer to #71 for closing reason.

[2017-01-23 08:20] #70 closed

[2017-01-23 08:20] #60 closed

[2017-01-23 15:42] benoror opened #72 "Lots of <unlabeled event> events"
I'm getting a lot of `<unlabeled event>` events in Sentry.io.

I enabled sourcemaps as specified in https://github.com/damiencaselli/ember-cli-sentry/issues/28, I also have `globalErrorCatching` set to `true`.

As far as I understand, sync exceptions bubble up to Application's main `route.js`, where I have my

[code]

Also `globalErrorCatching` should catch async exceptions, right?

Debug info:
[c

[2017-01-24 06:51] benoror commented on #72
Ok I changed to:

[code]

apparently that did the trick, nevertheless I still get some obscure `[object Object]` errors sometimes, any idea?

<img width="333" alt="screen shot 2017-01-24 at 00 50 37" src="https://cloud.githubusercontent.com/assets/119117/22237100/3f593b42-e1cf-11e6-8a0b-9a151f2f656e.png">

Cheers!

[2017-01-24 12:25] damiencaselli commented on #72
The error is passed to Raven without being manipulated by the add-on (see [raven service](https://github.com/damiencaselli/ember-cli-sentry/blob/master/addon/services/raven.js#L61). Can you confirm the errors format in the `forEach` loop?

[2017-01-24 17:17] benoror commented on #72
This is an example of an `AdapterError`:

<img width="354" alt="screen shot 2017-01-24 at 11 12 24" src="https://cloud.githubusercontent.com/assets/119117/22258144/14b9c45e-e226-11e6-982e-9abd4c47966c.png">

[2017-01-24 17:19] benoror commented on #72
Q: Is there a guide/documentation about best practices for error logging in ember apps?

[2017-01-27 23:46] benvinegar commented on #72
If the error returned by the error handler is not an `Error` object (or does not have the `Error` prototype), it will get munged into a string by Raven.js.

So, if this global error handler is producing an array, it should decompose the array and call `Raven.capureException` for each one.

[2017-01-28 00:32] benvinegar commented on #72
Okay, I've dug into this more, and I see the problem.

Raven's `isError` helper is not returning true for `AdapterError`, even though it has a `.stack` property and all the other properties indicative of an `Error`. AFAICT, this is because `AdapterError` does not descend from `Error`'s prototype chain (it's a copy), so `AdapterError instanceof Error` returns false.

(Note this helper *does* return

[2017-01-29 20:57] benoror commented on #72
@benvinegar Good catch! Do you have an ETA when can we expect seeing this errors correctly in sentry.io? Also, do we have to make a change on our side?

I suspect this problem applies for every Sentry customer using latest versions of Ember

Cheers!

[2017-02-06 18:10] urbany commented on #72
I also noticed this problem. Anyway I can help move this forward?

[2017-02-09 10:09] ludalex opened #73 "There were N errors encountered while processing this event"
I'm on `ember-cli-sentry@2.4.2` and `raven-js@3.9.2`.
Have been getting the error on Sentry "There were X errors encountered while processing this event" since ever, due to some error on processing _only some_ sourcemap files (which are all available of course):

![screen shot 2017-02-09 at 10 29 10](https://cloud.githubusercontent.com/assets/1538479/22778547/a363e50c-eeb7-11e6-8e98-295f3f1f0896.p

[2017-02-24 22:02] benvinegar commented on #72
So I dug into this more, and Raven.js is treating `AdapterError` (and other Ember errors) correctly, AFAIK.

[Example here](http://jsbin.com/fupowibito/4/edit?html,js,console). I recommend opening this up in a dedicated window, and examining on the console. You can see that the full stack is captured from the error.

![image](https://cloud.githubusercontent.com/assets/2153/23322661/cfb9e1f4-fa99-1

[2017-03-07 00:57] HelloMihai commented on #48
@damiencaselli the link you posted is showing the latest version of the file.  Corrected link if anyone is confused:

https://github.com/getsentry/raven-js/blob/b311690ec90f8a319527a24b28b880dedbe7b848/src/raven.js#L931-L935

[2017-03-10 17:03] jessepollak commented on #73
I'm having a similar issue - has anyone managed to figure out what's going on here?

[2017-04-04 08:47] damiencaselli commented on #64
Hi @jessepollak, are you still encountering the duplication problem?

[2017-04-04 08:54] damiencaselli commented on #72
@benoror has this issue been solved with (possibly) new Raven versions?

[2017-04-04 15:11] jessepollak commented on #64
Nope, will close!

[2017-04-04 15:11] #64 closed

[2017-04-04 15:24] damiencaselli commented on #64
@jessepollak Can you tell what solved this btw?

[2017-04-04 15:56] jessepollak commented on #64
I stopped maintaining the Ember project that had the issue 😬

[2017-04-04 17:00] damiencaselli commented on #64
Golden 🥇

[2017-04-04 17:50] benoror commented on #72
@damiencaselli Just upgraded a production app to `2.4.3` and still got unlabeled issues 😢 :

<img width="385" alt="screen shot 2017-04-04 at 12 49 47" src="https://cloud.githubusercontent.com/assets/119117/24670818/37bfabb2-1935-11e7-88ec-0623e3d9853a.png">

[2017-04-04 22:51] benvinegar commented on #72
Still looking for someone to provide a reproducible test case I can use.

[2017-04-05 03:28] benoror commented on #72
Hey Ben, I would like to help. How can I test it? Deploying an Ember app
and having a test Sentry project would work?

On Tue, Apr 4, 2017 at 5:51 PM Ben Vinegar <notifications@github.com> wrote:

--

*Ben Orozco*Website: benoror.com

<https://www.vyte.in/benoror>
Appointments: vyte.in/benoror

[2017-04-20 16:01] mirague opened #77 "Add FastBoot support"
Currently it'll always try to `app.import` the Raven JS library, even in FastBoot (server side).
This results in the below error for every request:
[code]

We should wrap the `app.import` with a check for `process.env.EMBER_CLI_FASTBOOT` in `index.js`:

[code]

[2017-04-25 19:38] kmiyashiro commented on #62
Can we please merge this? This currently makes whitelistUrls unusable if you have a dynamic filename (cache busting).

[2017-04-25 21:27] kmiyashiro commented on #62
Nevermind, I think the current RegExp parsing in #51 is confusing and possibly harmful.

[2017-05-13 11:27] tchak commented on #72
This is an `ember-data` specific problem. The way errors are created/rejected in ED is not great. It is a known issue :(

[2017-05-13 11:29] tchak commented on #72
Though `AdapterError` is supposed to inherit from `Error`. I am very surprised it's not recognised as such by raven...

[2017-05-14 13:38] #61 closed

[2017-05-28 19:46] mazondo commented on #77
I'll probably end up tackling this within the next week or so, but just in case someone gets here first.  The above fix is no longer recommended and will not work in fastboot rc.1.  New method here: https://gist.github.com/kratiahuja/d22de0fb1660cf0ef58f07a6bcbf1a1c#using-processenvember_cli_fastboot-to-run-import-in-browser-build

[2017-05-30 07:34] Turbo87 opened #82 "Remove "serviceName" option and add service to app by default"
I would like to propose the deprecation of the `serviceName` option. To me it seems very confusing and I don't actually see any advantage of making it configurable since it seems very unlikely that someone actually has another unrelated `raven` service in his app.

If we remove the `serviceName` propery and rely on it always being `raven` we can also add the service to the `app` folder so that eve

[2017-05-30 07:36] marcoow commented on #82
ESA used to have this as well but it adds a bunch of (unnecessary) complexity to the system. You could always do this in an app anyway:

[code]

[2017-05-30 07:40] Turbo87 opened #83 "Move some configuration options into the service"
If we move e.g. the `ignoreErrors` option into the service we could use strings and regexes directly instead of having to convert them from stringified regexes.

This could be implemented in multiple steps:

- [ ] move most of the code in the `raven-setup` instance initializer into a `setup()` method in the service
- [ ] read `ignoreErrors` from the service instance if set otherwise fallback to th

[2017-05-30 07:41] Turbo87 commented on #82
@marcoow sure, but `session` is a lot more common as a service name compared to `raven`

[2017-05-30 07:46] marcoow commented on #82
Yes, just saying there's a cleaner way to redefine the service with a different name anyway.

[2017-05-30 07:47] Turbo87 opened #84 "Add vendor shim for `raven`"
Whether we import raven-js from bower, npm or CDN we always have to deal with `window.Raven`. It would be great if we could just include a vendor shim so that we could `import Raven from 'raven';` instead of using the global.

[2017-05-30 08:06] Turbo87 commented on #82
@marcoow yeah, but then you would need to pass that custom service name to the initializer and then we're back in the mess we're in right now 🤷‍♂️

[2017-05-30 08:08] marcoow commented on #82
The thing is you're opting in to that mess than as opposed to now where you always have to deal with `serviceName`.

[2017-05-30 12:17] damiencaselli commented on #82
@marcoow the funny part of this is I learned add-on scaffolding by digging `ESA` source 👨‍🎓
BTW Thanks for the work on this add-on.

Anyway, the `serviceName` sole purpose was to allow people switch from a logger to another without search-and-replacing the whole code. Use __LoggerA__ one day, use __raven__ the other one by only changing the code in the logger.

However, if this option isn't used a

[2017-05-30 12:19] damiencaselli commented on #84
I think it is related to #81

[2017-05-30 12:27] Turbo87 commented on #84
@damiencaselli no, it's unrelated. vendor shims work fine for bower dependencies too.

[2017-06-06 14:24] #83 closed

[2017-06-06 14:26] damiencaselli commented on #62
Resolved by #83

[2017-06-06 14:26] #62 closed

[2017-06-14 11:31] oscarni commented on #77
Any news on this front? Are none of the 3 PRs applicable since fastboot rc.1?

[2017-06-16 17:13] RobinDaugherty opened #86 "Unit tests for objects that use sentry never work"
(This may be specific to Mocha, not sure.)

When this addon is used properly, it injects the `raven` service into all controllers, models, etc. And properly using raven, these should call `get('raven').captureException` and similar in order to report on failures or whatever.

However, in Mocha unit tests for these controllers, models, etc., the app's initializers are not run, so the `raven` proper

[2017-07-05 14:28] damiencaselli commented on #84
@Turbo87 can you confirm `3.0.0-beta` solves this?
https://github.com/damiencaselli/ember-cli-sentry/blob/3.0.0-beta/vendor/raven-shim.js

[2017-07-05 14:31] Turbo87 commented on #84
yep, resolved by #81

[2017-07-05 14:31] #84 closed

[2017-07-13 12:48] jherdman commented on #72
In ember-cli-trackjs we introduced an [error handler](https://github.com/jherdman/ember-cli-trackjs/blob/3f2fcb93634f1e100c8406cdeaaa0e80a6cf0a44/addon/utils/error-handler.js). We found that POJOs often gave us grief when reporting, so we [try to unwrap](https://github.com/jherdman/ember-cli-trackjs/blob/3f2fcb93634f1e100c8406cdeaaa0e80a6cf0a44/addon/utils/error-handler.js#L34-L56) them a bit.

I'

[2017-07-16 21:12] mazondo commented on #77
I haven't had a chance to in our app yet, but the problem is that most fastboot fixes just skip it when in fastboot, in this case I think we actually want to use it in fastboot and client side - but it requires some changes to how events are sent to sentry.  More info is here: https://github.com/getsentry/raven-node/issues/303

[2017-07-26 17:11] weedgrease opened #90 "`ember-electron` support"
It seems like my map isn't being used or something, but I looked at a forced error I generated with debug on and saw `culprit: "serve://dist/"`.

I am using this inside an ember-electron project, however, I feel like it shouldn't effect anything considering it's still running in an ember environment. I tried uploading sourcemaps and built files to my releases in Sentry, but this console output mak

[2017-08-02 04:11] benoror commented on #72
@jherdman We're considering migrating to trackjs / honeybadger just for this very issue... any other recommendations

[2017-08-02 07:20] damiencaselli commented on #72
@benoror have you tried what @jherdman suggested? If it solves your problem, we'd gladly add it to this addon.

[2017-08-30 10:28] rstudner opened #92 "How to prevent some types of errors from being reported"
I must be doing something wrong :)

[code]

In the use case that findRecord returns a 404, I CANNOT seem to prevent that 404 from being reported to sentry.

I have it in a try catch / not sure what further I need to do.

(in this case it is doing a 404 because the current user doesn't have permission to see the record, and we are doing a 404 vs a 403)

[2017-09-21 12:57] #82 closed

[2017-10-01 07:13] backspace commented on #86
Is it possible you have to add `needs: ['service:raven']` somewhere? I haven’t used Mocha for Ember testing for a long time but it’s probably required in some way like with QUnit in [the documentation](https://guides.emberjs.com/v2.15.0/testing/testing-controllers/#toc_testing-controller-needs).

[2017-10-02 17:00] RobinDaugherty commented on #86
Yes, I wasn't clear in my description, but in some cases these were integration tests (which don't have a `needs` argument), and in others we would add it to `needs`. The problem seems to be that the `raven` service is simply not injected when tests are being run.

Also, I found out more recently that [`captureException` and `captureMessage` _cause an exception to be raised_ if Raven is disabled](

[2017-10-02 17:12] RobinDaugherty commented on #92
@rstudner `findRecord` returns a promise, and you need to add a `catch` call to the promise in order to catch errors that occur with it. Adding a `try` block around a call like this won't do the job.

[code]

If you're using an older version of Ember, or other (older) Promise libraries, you might not have a `catch` method, in which case you pass two functions to the `then` function.

[code]

Welco

[2017-10-02 17:28] rstudner commented on #92
Yeah, my chief mistake was the try/catch vs the .catch.  This seems to get me every tuesday haha

The other thing I don't get (this is specific to this library/implementation).. is why the this.get('raven').captureMessage and .captureException will themselves throw errors in development mode.

(thus, I have to put my this.get('raven') things inside their OWN try catches, to use the default raven s

[2017-10-02 18:05] benvinegar commented on #72
@benoror If someone could have a repo that demonstrates this error, using a vanilla/boilerplate EmberJS app, we'd prioritize this ASAP. Otherwise I can't verify that I'm solving anything besides guesswork.

Alternatively, someone is welcome to submit a PR and we'd similarly prioritize reviewing it and getting it merged/published.

[2017-10-03 03:46] RobinDaugherty commented on #92
@rstudner rather than that try/catch block, you can use [this workaround](https://github.com/damiencaselli/ember-cli-sentry/pull/97#issuecomment-333730424).

[2017-10-06 09:05] lpaulger opened #100 "Wiki instructions for 2.x.x to 3.x.x is missing"

[2017-10-06 09:06] lpaulger opened #101 "Wiki instructions for 2.x.x to 3.x.x is missing"
[Readme.md](https://github.com/damiencaselli/ember-cli-sentry#important-notice-if-you-migrate-from-2xx-to-3x) points to  https://github.com/damiencaselli/ember-cli-sentry/wiki/Migration-from-2.x.x-to-3.x but the documentation is missing

[2017-10-06 09:09] damiencaselli commented on #100
Duplicates #101

[2017-10-06 09:09] #100 closed

[2017-10-17 13:13] shijistar opened #102 "Is there a chance to ignore error and reject reason separately?"
When a promise is failed, we call `reject(reason)`. However then the two global error catchings are hit both. But I don't want log them twice. So I want to know is there a chance to ignore error and reason separately? Perhaps we need a hook called `ignoreReason`?

[code]
[code]

[2017-10-18 18:56] mattmcmanus commented on #101
This isn't an easy answer, but here is all that changed from the last 2.x version of the addon: https://github.com/damiencaselli/ember-cli-sentry/compare/2.4.4...3.0.0-beta.1

[2017-10-20 06:44] shijistar commented on #102
#103

[2017-10-25 04:05] janwerkhoven opened #104 "IE 10 bug with <meta name="sentry:revision"></meta>"
IE 10 seems to break when it hits:
[code]
![screen shot 2017-10-25 at 2 51 36 pm](https://user-images.githubusercontent.com/4415419/31979929-08341e18-b995-11e7-957f-517f5e1136a4.png)

HTML `<meta>` elements do not require the closing tag `</meta>`. IE 10 finds that so outrageous that it breaks, throws and stop execution of everything that follows 😑 .

This tag is inserted by `ember-cli-sentry` via

[2017-10-25 07:56] damiencaselli commented on #104
Hey @janwerkhoven, can you confirm on a sample HTML page that not closing a meta tag using an html5 doctype breaks IE10?

[2017-10-26 02:30] janwerkhoven commented on #104
This is the screenshot of a user showing an error on IE10 breaking the page:

![screen shot 2017-10-26 at 1 12 30 pm](https://user-images.githubusercontent.com/4415419/32031850-5cc126e6-ba4f-11e7-8416-8a1cfdae6025.png)

The error points at line 57 which is this screenshot:

![screen shot 2017-10-25 at 2 51 36 pm](https://user-images.githubusercontent.com/4415419/31979929-08341e18-b995-11e7-957f-51

[2017-10-26 07:34] damiencaselli commented on #104
Well, if you ask me I no longer use either of the closing tags.
I just realized this issue seemed to be related to `ember-cli-deploy-sentry`, not this repository 🙂

[2017-11-14 14:51] roschaefer opened #105 "Default error template prevents `captureError`"
It took me quite some time to find out why no errors were sent to sentry. It's the default error template.

Minimal working example:
[code]

[code]

[2017-11-14 15:09] roschaefer commented on #105
And here is the workaround:

[code]
See: https://guides.emberjs.com/v2.16.0/routing/loading-and-error-substates/

Can we have this documented? Or is there a way for `ember-cli-sentry` to hook into Ember's default error handling? Thoughts?

[2017-11-26 20:16] ktrhn commented on #105
Same problem here. Using error templates seems to be quite normal. How to get this working? With the proposed workaround my app hangs on the loading template and does not show the error template anymore.

[2017-11-26 20:20] sebastianhelbig opened #106 "raven service setup not called in development"
Because of the early return (L14). What's the thought behind this?
https://github.com/damiencaselli/ember-cli-sentry/blob/bb85f46aeeecafc8b9aec32294559811078ad36a/app/instance-initializers/raven-setup.js#L10-L23

[2017-12-29 11:34] Turbo87 commented on #106
why would it be called if `development` is `true`?

[2017-12-29 11:40] Turbo87 commented on #105
yes, I think this should be documented. PRs are obviously welcome 😉

[2017-12-29 11:42] Turbo87 commented on #104
Indeed `ember-cli-sentry` does not add this meta tag at all, so please move this issue to `ember-cli-deploy-sentry` instead. Thanks! :)

[2017-12-29 11:42] #104 closed

[2017-12-29 11:46] Turbo87 commented on #92
closing as the original question seems to be answered

[2017-12-29 11:46] #92 closed

[2017-12-29 11:48] Turbo87 commented on #90
@kevingelion I don't think any of the maintainers are currently using `ember-electron` so if you want to improve/add support for it to this project you might have to implement it yourself. PRs are obviously welcome though :)

[2017-12-29 13:17] sebastianhelbig commented on #106
What else is the purpose of the `sentry.development` flag? Right now it does nothing.

[2017-12-29 13:38] Turbo87 commented on #106
I think the purpose is to disable `sentry` for development and testing

[2017-12-29 14:43] #101 closed

[2017-12-29 15:11] Turbo87 opened #112 "Deprecation: Defining complex imports inline is now deprecated"
after upgrading to `v3.0.0-beta.2` I've started seeing the following deprecation warning:

[code]

[2018-01-09 20:54] sebastianhelbig commented on #106
With current beta this works as expected, no change needed anymore.

[2018-01-09 20:54] #106 closed

[2018-01-12 22:11] mhluska opened #113 "This event was reported with an old version of the javascript SDK"
I see this in the Sentry UI:

![screenshot 2018-01-12 14 10 19](https://user-images.githubusercontent.com/997350/34897330-63dd8ba0-f7a2-11e7-9fdf-3698ee297788.png)

Would it help to bump the `raven-js` dependency version?

[2018-01-15 19:04] devinrhode2 commented on #28
I included the `sourcemaps: true` option without testing that it was necessary, but in my sentry dashboard I do see stack traces with FULL function names, so I think it would be working.

[2018-01-15 19:13] devinrhode2 opened #114 "Docs:Confusion on necessity of logging service"
In the readme, it says the only required property is the dsn, but it appears that you actually do need to include a serviceName and exposedPropertyName, and most people are also going to want `development: environment === 'development',` and the cdn property.

It would've been nice there was simply a recommended "works for most" config in the readme.

I added "(globalErrorCatching is set to true b

[2018-01-15 19:23] devinrhode2 commented on #114
Another thing I found very confusing, was whether or not I actually did need to generate a logging service. I know at the top of the readme is says "addon does not generate the logging service", but other statements confused me and made me question whether or not I really do need to generate a logging service.

In the install section,
[code]

Then the other confusing thing is that there IS a servi

[2018-01-18 21:41] devinrhode2 commented on #114
The only required parameter is `dsn` BUT it's clear that this addon *does not generate the logging service for you* - and this makes it sound like that is something users need to do (there's plenty of conflicting info here around whether or not you need to generate the logging service)

[2018-01-18 21:47] devinrhode2 commented on #105
This should definitely be included in the addon, at least a note in the README to add this

[2018-01-21 21:44] devinrhode2 commented on #58
How I ended up getting this done:
https://stackoverflow.com/questions/48329217/ember-sentry-raven-set-user-context-when-user-model-loads

[2018-01-22 03:36] devinrhode2 commented on #114
Maybe could just add at the end of "Does not generate logging service" you can add " (optional)", unless it's actually NOT optional...

[2018-01-22 07:22] buschtoens commented on #114
Also tripped over this. As a newbie to sentry and this addon, I did not know what

is supposed to mean. And neither the **Install** or **Configuration** section explain how to create the service. Since #99 remove the `logger` blueprint, I recommend adding one or two sentences to the README.

[2018-01-22 07:55] buschtoens opened #116 "Content Security Policy: cdn.ravenjs.com and app.getsentry.com not required for on-premise"
https://github.com/damiencaselli/ember-cli-sentry/blob/07139303b395858009a0c23a0078c587064d3cf5/README.md#L132-L140

I don't think that this section is entirely accurate.

AFAIK:

-  `cdn.ravenjs.com` is only required, if the user chooses to use load Raven.js from the CDN.
- `app.getsentry.com` is not required for [on-premise setups](https://github.com/getsentry/onpremise) and should be replaced w

[2018-01-22 08:29] #86 closed

[2018-01-22 09:39] duizendnegen commented on #114
Welcoming a PR with updated docs 👍

[2018-01-22 10:21] devinrhode2 commented on #114
we need someone to address our points of confusion..

On Jan 22, 2018 3:39 AM, "Pepijn Schoen" <notifications@github.com> wrote:

[2018-01-24 11:13] Turbo87 commented on #116
I think what you're saying makes sense. PRs are always welcome!

[2018-01-24 11:15] Turbo87 commented on #114
@devinrhode2 the README on the main project page is for the `master` branch, where those properties are no longer needed. The latest released version is still v2.x though, so make sure to read the docs for the correct version. v3.0 will be released soon though and you can already use the beta version for that if you want to give it a try.

[2018-01-24 11:16] Turbo87 commented on #113
@mhluska what version of `ember-cli-sentry` are you using and what `raven-js` dependency exactly are you talking about (npm/bower/...)?

[2018-02-05 20:53] Turbo87 opened #122 "Ignore "a glimmer transaction was begun, but one already exists" errors"
These errors usually indicate that some other error happened before this, so it seem reasonable to ignore these by default.

/cc @rwjblue

[2018-02-06 11:44] #112 closed

[2018-02-27 20:01] bauerjon opened #128 "Support with Sentry's /ember file?"
There is this page https://sentry.io/for/ember/ which suggests you use

<script src="https://cdn.ravenjs.com/<VERSION>/ember/raven.min.js">
</script>

does this plugin play nicely with the `/ember/raven.min.js` ? or are these two separate implementations?

Also see https://docs.sentry.io/clients/javascript/integrations/ember/

[2018-02-27 20:15] Turbo87 commented on #128
those are two separate things. if you use this addon here it will automatically inject `raven.min.js` into your build pipeline.

[2018-02-27 20:15] #128 closed

[2018-02-28 00:14] dbinetti commented on #114
I'm afraid I'm still confused on how to use this with 3.x @Turbo87 .  As it stands I've installed the 3.0.0 beta three, and set the DSN config.  I can see the raven service in the ember inspector container, but nothing I try triggers and actual exception in Sentry.  is this the expected behavior?

It would be spectacular to know, step by step, what's entailed in getting this working.

[2018-02-28 09:15] Turbo87 commented on #114
@dbinetti did you try this in production or locally on the dev server? the addon will only actually send something to the sentry servers if it's running in a production environment

[2018-02-28 09:16] dbinetti commented on #114
Both. Worked in niether

On Feb 28, 2018, 01:15 -0800, Tobias Bieniek <notifications@github.com>, wrote:

[2018-02-28 09:29] Turbo87 commented on #114
you can use `require('raven').default.isSetup()` to check if the sentry lib itself was setup correctly. if that is the case you can use the Ember Inspector to get a reference (usually `$E`) to the `raven` service in the container and then use `$E.captureMessage('test')` to send a test message. have a look at the network tab of the dev tools to check if the message was sent correctly to the sentry

[2018-02-28 15:28] dbinetti commented on #114
Thank you, that helped me diagnose.

As it turns out this is a epic facepalm -- I have two sentry instances, one
for front-end and one for back-end -- and I put in the wrong DSN.  So all
the events were going to the wrong place.  Sigh.

Thanks for your help

On Wed, Feb 28, 2018 at 1:29 AM, Tobias Bieniek <notifications@github.com>
wrote:

[2018-03-11 07:13] Turbo87 commented on #114
I just released `3.0.0`, so this issue should be resolved now.

[2018-03-11 07:13] #114 closed

[2018-03-12 18:37] jeffjewiss opened #129 "Ember.onerror validation fails"
When adding this to an Ember 3.0 project it causes it to fail the `ember-qunit: Ember.onerror validation` test, which links to https://github.com/emberjs/ember-qunit/pull/304

Would adding:

[code]

to https://github.com/damiencaselli/ember-cli-sentry/blob/master/addon/services/raven.js#L178 fix the issue?

[2018-03-12 19:00] Turbo87 commented on #129
I'm surprised, because AFAICT https://github.com/damiencaselli/ember-cli-sentry/blob/master/addon/services/raven.js#L185-L187 should already take care of this 🤔

We've been using the 3.0.0-beta.3 in production for quite some time and haven't had any issues with it so far.

[2018-03-12 21:10] jeffjewiss commented on #129
Hmm, fair enough.

I have an app that was already updated to Ember 3 and I went to install install this addon, which was the only change, and I ran into the qunit validation error I mentioned above.

For now I've added:

[code]

to the app.js so I could get Sentry working without broken tests, but I'm not sure what else could be causing the issue. 🤷‍♂️

[2018-03-12 21:18] Turbo87 commented on #129
can you reproduce this issue in a fresh `ember new` app?

[2018-03-15 17:37] jeffjewiss commented on #129
I'll see if I can reproduce it on a fresh app.

I've had this happen on two personal Ember apps. One is private and one is public.

On the public one you can see that adding v3.0 of this addon breaks the build: [commit](https://github.com/jeffjewiss/jeffjewiss.com/commit/8390327a8a7ccb876a37d323842c7c42eba3b69f) - [build status](https://travis-ci.org/jeffjewiss/jeffjewiss.com/builds/352474109) and

[2018-03-28 09:01] nickschot commented on #129
I also see this, but it doesn't seem to happen on every test run. I do not remember seeing it in the last beta.

[2018-04-09 18:31] shcallaway commented on #72
@benvinegar I believe this issue is occurring on other JS frameworks too. See my [comment](https://github.com/getsentry/raven-js/issues/1271#issuecomment-379822602) on RavenJS.

Am I correct in thinking the solution is to handle these types of errors in the [`captureException`](https://github.com/getsentry/raven-js/blob/master/src/raven.js#L466) method?

[2018-04-13 14:56] sdhull commented on #77
FYI `process.env.EMBER_CLI_FASTBOOT` is no longer the right way to check for fastboot. The [recommended](https://github.com/ember-fastboot/ember-cli-fastboot#disabling-incompatible-dependencies) way to check now is `if (typeof FastBoot === 'undefined')`

[2018-04-20 09:10] mydea opened #131 "raven.captureMessage should not throw in dev environment"
In our app, we use `captureMessage()` in some places to basically "log" data to sentry.
However, it was unexpected for us that in development (e.g. when sentry is not usable), it re-throws the given message, leading to code aborting.

This happens here: https://github.com/damiencaselli/ember-cli-sentry/blob/aaf3f97a6e43b54dc3304a749f0b4ee0d7ac3440/addon/services/raven.js#L148

[code]

This basical

[2018-04-20 09:11] mydea commented on #131
Ah, I just saw there is already a PR for that: https://github.com/damiencaselli/ember-cli-sentry/pull/97.

[2018-04-20 09:48] Turbo87 commented on #131
yeah, I think that makes sense. I'll put review of #97 on my todo list.

[2018-05-10 01:34] geoffreyd commented on #129
Adding this fixes the tests.
[code]

[2018-05-10 15:27] jeffjewiss commented on #129
@geoffreyd thanks for this!

The above seems like a good solution to the problem.

[2018-05-10 15:27] #129 closed

[2018-06-25 12:49] yashhy opened #132 "raven.captureMessage() should return Raven instance to get eventID"
Currently the method [captureMessage](https://github.com/damiencaselli/ember-cli-sentry/blob/master/addon/services/raven.js#L144) logs message to the Raven and returns a boolean, instead it should return a Raven instance so we can use **[lastEventId()](https://github.com/getsentry/raven-js/blob/master/packages/raven-js/src/raven.js#L843)** to get the last know event id and show up in the UI.

[2018-06-26 13:58] yashhy commented on #132
I achieved this using [callRaven](https://github.com/damiencaselli/ember-cli-sentry/blob/6cfeb7aaa4e7529c105f9095c7ecac5c9f56a800/addon/services/raven.js#L276) method.

`const raven = this.get('raven').callRaven('captureMessage')
  raven.lastEventId()
`

[2018-06-26 13:59] #132 closed

[2018-06-29 09:39] buschtoens opened #133 "@sentry/next"
Sentry has been busy working on the next generation of raven.js: https://github.com/getsentry/raven-js/issues/1281

Yesterday they published the first beta version to npm. You can find the source code here: https://github.com/getsentry/raven-js/tree/master/packages

I just wanted to raise awareness and get the discussion going on when and how to start integrating it. :)

[2018-07-16 15:16] jpsirois opened #134 "Fix `Ember.Logger` deprecation"
https://deprecations-app-prod.herokuapp.com/deprecations/v3.x/#toc_ember-console-deprecate-logger

[2018-08-14 15:51] ddoria921 opened #136 "Integrating with Cordova"
I'm currently working in an ember-cli project that is deployed to both the web and as a Cordova app. Would I be able to use this addon and [Sentry-Cordova](https://github.com/getsentry/sentry-cordova) together? It looks like it's the same package for the browser with some added functionality that is aware of the Cordova environment.

If not, do you have any recommendation on a path forward where I

[2018-08-15 07:35] Turbo87 commented on #136
This has not been a goal for this project, but feel free to work on it. I'm not aware of anyone who is using it like this.

[2018-08-19 21:50] ddoria921 commented on #136
I wouldn't mind adding this as a configuration option to this addon. Although it would need to use [Sentry's new browser](https://github.com/getsentry/raven-js/tree/master/packages/browser) SDK cause that's what the Cordova SDK is based on.

Related: https://github.com/damiencaselli/ember-cli-sentry/issues/133

[2018-09-01 16:16] mhluska opened #137 "Support @sentry/node for FastBoot"
Any plans to use `@sentry/node` to get error reporting working in FastBoot? I was finding this library just drops exceptions in the FastBoot environment but some errors only arise in that environment.

See https://github.com/getsentry/sentry-javascript/tree/master/packages/node

[2018-09-05 08:56] Turbo87 commented on #137
@mhluska in the long term that would be nice to have, yes. do you have time to work on that?

[2018-09-12 07:38] dashdashzako opened #138 "Update to match Sentry new scoped packages definition"
Hi,

The `raven-js` repositories have moved to a meta [sentry-javascript](https://github.com/getsentry/sentry-javascript) package. The README got updated, and they refer to the `raven-js` SDK as:

This sounds like a blocker to me if we want to keep up with Sentry's features and could be a simple drop-in replacement :crossed_fingers:

[2018-09-12 08:07] #138 closed

[2018-09-12 08:16] Turbo87 commented on #113
closing due to inactivity

[2018-09-12 08:16] #113 closed

[2018-09-12 08:17] Turbo87 commented on #72
closing as https://github.com/getsentry/sentry-javascript/issues/1271 was marked as resolved 🎉

[2018-09-12 08:17] #72 closed

[2018-09-12 08:49] mhluska commented on #113
@Turbo87 it is ember-cli-sentry 3.0.0 and raven-js 3.26.4 on npm. I'm no longer seeing the error on sentry though.

[2018-09-24 13:46] #134 closed

[2018-09-25 09:45] dashdashzako commented on #77
With the recent changes of Sentry packages management (addition of scoped packages), I wonder if this issue could be solved more easily than what could be done a year ago.

[2018-09-26 07:35] Turbo87 opened #144 "Enable dependabot"
@damiencaselli I would like to enable https://dependabot.com on this repository, but it seems that I don't have enough permissions to do that. Could you have a look at either enabling it or giving me enough permissions to do so myself? Thanks :)

[2018-09-26 09:58] Turbo87 commented on #131
resolved by #97

[2018-09-26 09:58] #131 closed

[2018-09-26 09:59] Turbo87 commented on #137
I'll close this as a duplicate of #77

[2018-09-26 09:59] #137 closed

[2018-10-03 11:02] damiencaselli commented on #144
I've just enabled it :+1:
I think permissions cannot be modified since it's a personal repository, but if you know a way to do it, please let me know.

[2018-10-04 17:37] devinrhode2 opened #164 "No reporting in/before app route init hook (before isRavenUsable)"
If I try calling captureException in or before the application route init hook, before isRavenUsable becomes true, the error will not be reported to sentry. I'll need to store calls in a que in my logging service, and then flush the que once isRavenUsable becomes true. I tried observing isRavenUsable, but that is not firing. I am not too sure what to do other than not use this addon, or try and fi

[2018-10-05 16:09] devinrhode2 commented on #164
Basically, sentry should be the first thing that's loaded in the app, to make sure any issues loading are identified

[2018-10-05 16:59] Turbo87 commented on #164
While I agree in theory, this is somewhat hard to achieve since the service and the config are only available after the app has booted.

[2018-10-05 17:12] devinrhode2 commented on #164
I'm going to try hacking around with putting this addon's code in app.js... maybe just transform my service into a global wrapper around raven/sentry... although the most bulletproof way to handle this is load raven from the cdn, (in case there's an issue loading our app code), and then I guess in the index.html, put configuration/initialization stuff...

[2018-10-05 17:18] devinrhode2 commented on #164
What do you think is the best way to go about this @Turbo87?

[2018-10-05 18:08] Turbo87 commented on #164
I don't know, I'm on vacation right now. Will think about it when I get back :)

[2018-10-10 14:03] Turbo87 commented on #144
awesome, thank you.

yeah, that's what I expected unfortunately. we could move it to an org to make that easier if you're okay with that 🤔

[2018-10-10 14:03] #144 closed

[2018-10-11 22:35] devinrhode2 commented on #164
While I started to screw around with putting the ravenjs cdn tags in the index.html and then considered forking this addon and making it reference the global window.Raven, it seems the best thing to do is to just set a few things up manually according to these instructions in the readme for ember-cli-deploy-sentry: https://github.com/dschmidt/ember-cli-deploy-sentry#manual-integration-with-raven-j

[2018-10-12 12:14] Turbo87 commented on #164
using the CDN makes an additional HTTP request and makes your app depend on a third-party server. for some users this is not an option, so we explicitly removed that option in one of the last releases. most of the time it's a lot easier to just bundle the most recent version of their client in your `vendor.js` file

[2018-10-16 08:10] damiencaselli commented on #144
I'm totally fine with this, especially since I just stop by to janitor and I'm not really active on this project anymore (and with this account as well, but my e-alter ego @dashdashzako is a contributor). We already had this discussion a while ago and at that time it was simpler for everyone to keep the things as they were, but I wanted to make it an org to ease maintenance and collaboration.

Bef

[2018-10-19 12:34] Turbo87 commented on #144
I think all we need to do is create the GitHub org, and then move this repo into it. After that `https://github.com/damiencaselli/ember-cli-sentry` should automatically forward to the new repo location unless you fork it again under that account.

I'm not aware of any other things that would need to be moved.

[2018-10-19 16:17] damiencaselli commented on #144
@Turbo87 done :wink:

[2018-10-19 16:19] Turbo87 commented on #144
awesome, thank you 👍

[2018-10-21 14:45] jherdman opened #178 "Patch Release?"
Hi friends! Might we have a patch release to have access to #141 ?

[2018-10-22 10:56] dschmidt commented on #144
Is there any interest to have `ember-cli-deploy-sentry`in the same organization? I'm not maintaining that well either.. and I'd be happy to hand it over

[2018-10-22 11:38] Turbo87 commented on #144
I can only speak for myself. I'm not using it so I can't maintain it, sorry :-/

[2018-10-26 09:17] Turbo87 commented on #133
progress report: I've been looking into this, and for now I'm using the instructions at https://docs.sentry.io/platforms/javascript/ember/ instead of `ember-cli-sentry` for a few apps. At this point it is not entirely clear to me yet what advantages a dedicated addon would have over using `@sentry/browser` directly. I will try to assemble a list of such advantages though and if anyone has ideas pl

[2018-11-15 14:08] mydea commented on #133
I still think it would be nice to have this addon as a wrapper - there are some things this addon can/should do, even with the new Sentry SDK, imho:

* Take care of importing the Sentry SDK
* Provide configuration through the `config/environment.js` file
* Provide a service to interact with sentry, e.g. things like `.captureMessage()`
* Only register sentry in production

Basically, I think it wou

[2018-11-15 14:34] Turbo87 commented on #133
what's the advantage of doing that?

what's the advantage of doing that?

what's the advantage of doing that?

when I tried out `@sentry/browser` I also noticed that the filesize significantly increased so to be honest, right now I can't recommend moving to the new SDK unless filesize doesn't matter to you at all

[2018-11-15 15:42] mydea commented on #133
1)
Well, we use different sentry DSNs based on the environment, and being able to configure this in the `config/environment.js` is the most sensible solution for this IMHO. Of course, this is actually basically the only configuration that we really need, I guess.

2)
Generally, I guess you could directly import sentry and call methods manually.
Even so, this could be a nice wrapper to check if sen

[2018-11-15 15:54] Turbo87 commented on #133
there is nothing keeping you from referencing the config during the `init()` call of `@sentry/browser`

yep, and that's the official way of using their SDK.

if the SDK is not active the function calls will do nothing, meaning they won't throw exceptions either, so there is no need for defensive programming here

see above. `@sentry/browser` supports this "disabled" mode by default.

[2018-11-15 16:01] mydea commented on #133
All good points - but I still think having a thin wrapper addon to take care of 1) would make sense. Of course I, and everbody else, could do this manually on their own, but it's nice to have an addon take care of that  - as this code will probably look pretty much the same for everbody, so why not have a common solution for it.

I guess it would then be mostly a shim, with potentially an initiali

[2019-01-27 21:01] dbinetti opened #182 "setCurrentUser enabled?"
I might be missing something, but is this supposed to send the current user by default?  I see `setCurrentUser` in a test, but nowhere else in the code.  Am I missing something?

THanks

[2019-01-28 07:42] Turbo87 commented on #182
I am not sure what test you are talking about. Can you send a link to that test? I can't seem to find `setCurrentUser` anywhere in the codebase.

are you talking about https://github.com/ember-cli-sentry/ember-cli-sentry/blob/6cfeb7aaa4e7529c105f9095c7ecac5c9f56a800/tests/dummy/app/routes/application.js#L9?

[2019-01-28 15:21] dbinetti commented on #182
Forgive me, I was confusing this with another library (BugSnag).

Closing the issue; however, if there is a way to provide the user information to Sentry through this add-on I would appreciate the pointer.

[2019-01-28 15:21] #182 closed

[2019-02-12 14:22] tchak commented on #133
What about `fastboot` support? Will `@sentry/browser` work in `fastboot` environment? Or is there a still a need to load conditionally `@sentry/node` and provide a different set of API keys?

[2019-03-02 16:09] MichalBryxi opened #184 "Ability to call "before-breadcrumb""
In my app all the `ui.click` breadcrumb look like `div.eight.wide.column > a#ember3796.ui.labeled.icon.button.ember-view`, which is not very helpful.

But (for example) I do use a lot of `data-test` helpers, which would have much more meaning for me when going through the sentry trace. They tend to be way more descriptive of the function of that visual component.

There is a possibility to change

[2019-03-02 16:41] MichalBryxi opened #185 "Ability to set release manually"
Currently the code will set either string `release` or `config.APP.version`. I am using https://github.com/dschmidt/ember-cli-deploy-sentry for deployment and this one puts sentry revision info to HTML meta tag:

[code]

There is a recommended way how to extract it on Raven init:

[code]

But since this addon does not allow to dynamically change `Raven.config.release`, it is not easily possible to

[2019-03-03 11:26] Turbo87 commented on #185
from the README of `ember-cli-deploy-sentry`:

[2019-03-03 11:26] #185 closed

[2019-03-03 11:28] Turbo87 commented on #184
`beforeBreadcrump` is an API of `@sentry/browser`, but not of `raven-js`, which we are currently using. see https://github.com/ember-cli-sentry/ember-cli-sentry/issues/133 for more information about that.

[2019-03-03 11:28] #184 closed

[2019-04-12 10:02] lindyhopchris commented on #133
@Turbo87 would be interested to hear what your current thoughts are on this. I've previously used this addon, but when adding Sentry to a new app I've gone with `@sentry/browser` to give it a go.

One of the things I really like is I can set up Sentry in `app.js` before the application is exported and created. This presumably solves #164 (but need to check that).

I've got the following file:

[co

[2019-04-12 10:16] Turbo87 commented on #133
@lindyhopchris I had ported one project to use `@sentry/browser`, but then I noticed that their SDK is three times the size of `raven-js` which prevented me from ever merging that PR in. there is an issue on their project about the project size, but afaik it's not resolved yet. until that is the case I would recommend staying with `raven-js` unless you a) need some of the new features or b) don't

[2019-04-12 10:23] lindyhopchris commented on #133
Ah ok, I thought the size had been dropped for `v5`:
https://bundlephobia.com/result?p=@sentry/browser@5.0.8

However, I'm at (b) - I'm using it in internal apps where we don't care about shipped file size, so not really for me to say. Will keep watching this issue for whenever it's deemed the right size for use!

[2019-04-12 11:00] Turbo87 commented on #133
oh, interesting! I admit that it had been a while since I last looked at it. with the v5 size it seems a lot more viable to upgrade now.

[2019-04-14 18:47] viniciussbs commented on #77
Hi. What's the state of FastBoot support?

[2019-04-14 18:57] Turbo87 commented on #77
@viniciussbs doesn't exist

[2019-05-03 17:55] josemarluedke commented on #133
Now with v5, it would be nice to have this revisited.

[2019-06-21 16:49] robclancy commented on #28
Why does the readme link to this issue instead of just saying to use sourcemaps directly?

[2019-06-22 07:43] Turbo87 commented on #28
@robclancy legacy. PRs welcome!

[2019-07-10 12:58] viniciussbs commented on #77
@Turbo87 Can you tell if the app crashes on FastBoot land or it just does not report the errors?

[2019-10-28 17:46] reidab commented on #77
We're working around this using [fastboot-app-server](https://github.com/ember-fastboot/fastboot-app-server) by setting up a Node Sentry client in our Express `server.js` file and exposing it to the FastBoot environment via as `FastBootSentry` via `sandboxGlobals`. We then have an `Ember.onerror` handler set up via an instance-initializer that uses the passed instance.

It's not ideal, since we ar

[2019-11-05 18:12] Luisetelo opened #280 "Update from 3.0.0 to 4.1.0 not sending errors to Sentry"
Hi everyone,

I'm using ember-cli-sentry 3.0.0 with the following configuration:
[code]
and it works perfectly fine. However, when I update to ember-cli-sentry 4.1.0 and the following config:
[code]

I noticed that errors are not sent anymore to Sentry. They appear in the console. I also notice that `isRavenUsable` never becomes true.

In both cases, the project is built without the `--environment

[2019-11-05 18:13] Luisetelo opened #281 "Update from 3.0.0 to 4.1.0 not sending errors to Sentry"
Hi everyone,

I'm using ember-cli-sentry 3.0.0 with the following configuration:
[code]
and it works perfectly fine. However, when I update to ember-cli-sentry 4.1.0 and the following config:
[code]

I noticed that errors are not sent anymore to Sentry. They appear in the console. I also notice that `isRavenUsable` never becomes true.

In both cases, the project is built without the `--environment

[2019-11-05 18:13] Luisetelo commented on #281
#280 Duplicate

[2019-11-05 18:13] #281 closed

[2019-12-29 21:42] williamweckl commented on #77
For some reason `Ember.onerror` does not work at fastboot requests anymore. I did something different.

Using ember 3.15 with octane.

Configured an error route, Ember automatically handles errors using this route:
[code]

[code]

A service to handle errors:
[code]

And of course, I`ve setted my `server.js` like @reidab`s example.

[2020-06-22 11:00] mapohjola commented on #133
Is there any plans for this or should we be moving away from this repo?

[2020-12-30 23:51] Turbo87 commented on #122
Haven't seen these in a long time, so I assume this is not relevant anymore 🎉

[2020-12-30 23:51] #122 closed

[2021-08-12 09:18] Ramblurr commented on #133
FYI for future visitors: It seems like sentry has produced their own ember addon:

https://github.com/getsentry/sentry-javascript/tree/master/packages/ember

I have yet to try it.